<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression">
    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="tests.CreateAccountTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.AvailabilitytotravelTest"/>
            <class name="tests.InterestsTest"/>
            <class name="tests.EducationTest"/>
        </classes>
    </test>
</suite>
