GITHUB_URL_DEVOPS=github.com/DigitalOnUs/devops.ci-cd-ct.git
CI_VERSION=0.0.24
TERRAFORM_PROJECT=django-fewknow
CONTAINER_IMAGE=django-fewknow
SUPPORTED_PRODUCT_WORKLOAD=ecs_consul_vault_token_auth
SUPPORTED_PRODUCT_WORKLOAD_VERSION=1.0.3
LANDING_ZONE=CaaS-plm
BUILD_TYPE=DJANGO
TERRAFORM_VERSION=0.13.7
ARTIFACT_BUILD=DJANGO
#REGION=US-WEST-1
#VAULT_AUTH_METHOD=tls
TERRAFORM_DESTROY=TRUE
