/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
consul_manager-*.tar
mix.lock
/consul-manager/
create_consul_config.sh
consul_config/consul.hcl
consul_config/log/consul.log
consul_scripts/consul_config.json
consul_scripts/start_consul.sh
consul_scripts/vault_roles.sh
vault/auth/
vault/core/
vault/sys/
